*,
*::before,
*::after {

  box-sizing: border-box;
}

html,
body {

  margin: 0;
  padding: 0;
  height: 100%;
}

body {

  background: var(--bg-0);
  color: var(--fg-0);
  font-family: var(--font-sans);
  font-size: var(--t-md);
  line-height: var(--lh-normal);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button {

  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

a {

  color: var(--fg-accent);
  text-decoration: none;
}
